.App{
  background-color: aliceblue;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App input[type=text]{
  margin-top: 2rem;
  width: 50vw;
  height: 2rem;
}

.App input[type=checkbox]{
  transform: scale(2);
  margin-inline: 1vw;
}

.App button{
  width: 10vw;
  height: 2rem;
}